@model PostDetailsViewModel
@{
    ViewData["Title"] = "GetByIdPost";
}

<div class="card mb-3">
    <img class="card-img-top" src="https://via.placeholder.com/728x90.png?text=Visit+WhoIsHostingThis.com+Buyers+Guide

C/O https://placeholder.com/" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Post.Name</h5>
        <p class="card-text">@Model.Post.Desc</p>
        <p class="card-text"><small class="text-muted">@Model.Post.ViewedCount</small></p>
    </div>
</div>

<div class="input-group">
    <form asp-action="AddComment" asp-controller="Blog" method="post">

        <div class="input-group-prepend">
            <span class="input-group-text">With textarea</span>
        </div>
        <input type="hidden" asp-for="Comment.PostId" value="@Model.Post.Id" />
        <textarea class="form-control" asp-for="Comment.Text" aria-label="With textarea"></textarea>
        <input type="submit" class="btn btn-success" c value="Write!" />
    </form>
</div>

@foreach (var item in Model.Comments)
{
    <div class="alert alert-primary" role="alert">
        @item.Text <a href="#" class="alert-link">an example link</a>
    </div>
}