@model ToDoListViewModel
@{
    ViewData["Title"] = "GetAllToDo";
}

<h1>GetAllToDo</h1>

@*<ul>
        @foreach (var item in Model)
        {
            <li>@item.Id</li>
            <li>@item.Title  -- @(item.IsDone==true  ? "Done" : "Not Done")</li>
            <li></li>

        }
    </ul>*@
<form asp-action="Add" asp-controller="ToDo" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Item</label>
        <input type="text" class="form-control" asp-for="@Model.ToDo.Title" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Add New Item" />
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Operations</th>
            <th scope="col">Check Status</th>
        </tr>
    </thead>
    <tbody>
        @*@await Html.PartialAsync("~/Views/Shared/_ToDoList.cshtml", @Model)*@
    </tbody>
</table>



@*@await Html.PartialAsync("~/Views/Shared/_Modal.cshtml")*@

@await Component.InvokeAsync("ToDoList")

<select asp-items="@ViewBag.ToDos" class="form-control form-control-lg">
</select>

<script>

</script>